body {
  margin: 0;
  padding: 0;
  font-family: calibri;
  background: white;
  color: #393c45; }

.wrapper {
  background: lightgrey;
  font-family: calibri; }

.table-footer {
  background: black;
  font-family: calibri;
  color: white; }

.body-first {
  background: lightblue;
  font-family: calibri;
  color: black; }

.body-green {
  background: lightgreen;
  font-family: calibri;
  color: black; }

.body-note {
  border: 1px solid black;
  font-family: calibri;
  color: black;
  font-size: 9; }

.body-last {
  border: 1px solid black;
  font-family: calibri;
  color: black;
  font-size: 8; }

table, th, td {
  border: 1px solid black; }

 table.second th, table.second td {
    padding: 0.19rem; 
  }

  table.first th, table.first td {
    padding: 0.50rem; 
  }


 .content {
  background-color: #FFF;
  padding: 30px;
}

.padding-50-left{
padding-left: 50px;
}

.navBarClr{
  /* background-color: #ab479140;*/
  background-color: rgba(171,71,145,0.25);
}


.padding-20-right{
padding-right: 20px;
}

hr{
   color: white;
   background-color: white;
}

a{
    color: white;
    font-size: 1.2em ;

  }

  a:hover 
  { 
    text-decoration: none; 
  } 

.nav-item a {
  font-weight: bold;
}

.dropdown-menu a{
  font-weight: normal;
}

.service-div .row .col-md-6:first-child{
     background: #0085d6; 
     padding-left: 0;
    padding-right: 0;
}
.service-div .sec {
   padding: 40px;
    text-align: center;
    color: #FFF;
   
}

.service-div1 .sec {
   padding: 40px;
    text-align: center;
    color: #FFF;
   
}
.service-div .row .col-md-4:first-child{
     background: #0085d6; 
     padding-left: 0;
    padding-right: 0;
}

.service-div .row .col-md-4:nth-child(2) {
     background: #9ea517;
}
.service-div .row .col-md-4:nth-child(3) {
    background: #e17e25;
     padding-left: 0;
    padding-right: 0;
}

.service-div1 .row .col-md-4:first-child{
     background: #000; 
     padding-left: 0;
    padding-right: 0;
}

.service-div1 .row .col-md-4:nth-child(2) {
    background: #0085d6; 
}


.service-div1 .row .col-md-4:last-child {
    background: #9ea517;
     padding-left: 0;
    padding-right: 0;
}

.service-div .row .col-md-6:last-child {
    background: #9ea517;
     padding-left: 0;
    padding-right: 0;
}

.service-div{
  margin:15px;
  padding-top:18px;
}  
.service-div1{
  margin:15px;
  padding-top:18px;
}  

.alignRight {
  text-align: right;
  display: inline-block;
  font-size: 16px; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

.cell-wrap-text {
    white-space: normal !important;
}

.LogoImg {
  
  height: 80px;
  width: 150px;

}